* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1200px;
    margin: 0 auto;
    padding: 0 150px;
}

div {
    margin: 10px 0;
    padding: 10px 0;
}

button {
    cursor: pointer;
    width: 4.5rem;
    height: 3.2rem;
    color: #ff0000;
    background-color: #fff444;
}

.active {
    background-color: #008997;
}